<a href="https://colab.research.google.com/github/etisato/portifolio/blob/main/Change_database_A_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# New Section

In [1]:
#Creation Eduardo Tisato
#Date: 16 Jan 2024
#Ver A.03

#The objective is create a code able to clean a random database export.
#It will be used for a KPI and database analysis

# New Version A.02
    # Delete rows where Harness contains "+EL|\+PL"
    # Splitting improvement between Project Name and Car Name in Column Project

# New Version A.03
    #New rules to delete |\+GCL|\+GCR|\+LVB|\+CCC|\+DDE|\+RP1|\+RP2|\+RP3
    #Verify the if supplier length is acceptable
    #Added df = df.dropna(subset=['Length (m)'])

In [2]:
#Historic formules used:

#Formula used before for CSV File :
    # df = pd.read_csv(file_path, delimiter=';')

##Formula used before for CSV File :
    #Step: Replacing ',' to '.'
    #df['Length (m)'] = df['Length (m)'].str.replace('.', ',')
    #df['Height (m)'] = df['Height (m)'].str.replace('.', ',')

#General
    #print(df.head())
    #print (type(df))
    #print(df.iloc[0:16])
    #df

In [3]:
#Importing Pandas and Numpy to threat data in Python
import pandas as pd
import numpy as np

# Step: Read Excel file and save it in dataframe
file_path = '/SMARTMETRO2_MF_08-Jigboard Size (4).xlsx'

df = pd.read_excel(file_path)

In [ ]:
col_names = df.columns.tolist()
print (col_names)

In [5]:
#file_path2 = '/content/DSB SUPPLIERS.xlsx'

##df2 = pd.read_excel(file_path2)
#df2 = df2.reset_index(drop=True)
#df2

In [6]:
# Step: To be sure of the object types, I faced some issues in next formules when not used.
df['Project'] = df['Project'].astype(str)
df['Project'] = df['Project'].replace('nan', 'NaN')
df['Length (m)'] = df['Length (m)'].astype(float)
df['Height (m)'] = df['Height (m)'].astype(float)

In [7]:
# Delete rows where values are NaN in column 'Harness'
df = df.dropna(subset=['Harness'])
df = df.dropna(subset=['Project'])
df = df.dropna(subset=['Sol Indus'])
df = df.dropna(subset=['Length (m)'])

In [8]:
# Delete rows where Harness contains "+EL|\+PL"
delete_el = df['Harness'].str.contains('\+EL|\+PL|\+GCL|\+GCR|\+LVB|\+CCC|\+DDE|\+RP1|\+RP2|\+RP3', regex=True)
# Drop the rows that meet the condition
df = df.drop(df[delete_el].index)

In [9]:
# Delete rows where Project contains "TLS"
delete_el2 = df['Project'].str.contains('TLS', regex=True)
# Drop the rows that meet the condition
df = df.drop(df[delete_el2].index)

In [10]:
# Delete rows where Project contains "Obsolete"
delete_el2 = df['Harness Indus'].str.contains('Obsolete', regex=True)
# Drop the rows that meet the condition
df = df.drop(df[delete_el2].index)
# Print the modified DataFrame
#print(df)

In [ ]:
# Select and reorder columns
#columns = ['Project', 'Harness','Solution Eng','Version Eng','Sol Indus','Ver Indus','Length (m)', 'Height (m)']
columns = ['Harness', 'Project', 'PH PartNumber', 'Solution Eng', 'Version Eng', 'Harness Eng Status', 'Creation Date Eng', 'Sol Indus', 'Ver Indus', 'Length (m)', 'Height (m)', 'Harness Indus', 'Creation Date', 'Last Update - Date']
df = df.loc[:, columns]
df

In [12]:
#Replacement_DSB:
#df['Project'] = df['Project'].str.replace(',DSB', '')
#df[95:99]

In [13]:
# Split naming from column Project to have new two columns "Project Name and Car Name"
#df[['Project Name', 'Car Name']] = df['Project'].str.split('_', n=1, expand=True)


#df[95:99]

In [14]:
# Define a dictionary to store the CAR LENGTH values
#car_lengths = {
#    ('LNVG', 'A01'): 28.3,
#    ('LNVG', 'B01'): 24.1,
#    ('LNVG', 'A02'): 28.3,
#    ('LNVG', 'B02'): 24.1,
#    ('DSB', 'DC1'): 28.3,
#    ('DSB', 'EC1'): 24.1,
#    ('DSB', 'EC2'): 24.1,
#    ('DSB', 'IC1'): 28.3,
#    ('DSB', 'DC2'): 26.8,
#    ('DSB', 'DC2_DC1'): 26.8,
#    ('DSB', 'DC1_DC2'): 26.8
#}
# Loop through the dictionary and set the values in the DataFrame
#for key, value in car_lengths.items():
#    condition = (df['Project Name'] == key[0]) & (df['Car Name'] == key[1])
#    df.loc[condition, 'CAR LENGTH'] = value

# Fill NaN in CAR LENGTH column with 0
#df['CAR LENGTH'] = df['CAR LENGTH'].fillna(0)

In [15]:
# Save file in Excel
df.to_excel('/content/Result.xlsx', index=False)

print('File done!')

File done!