<a href="https://colab.research.google.com/github/etisato/portifolio/blob/main/Change_database_A_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# New Section

In [1]:
#Creation Eduardo Tisato
#Date: 16 Jan 2024
#Ver A.01

#The objective is create a code able to clean a random database export.
#It will be used for a KPI and database analysis

In [2]:
#Historic formules used:

#Formula used before for CSV File :
    # df = pd.read_csv(file_path, delimiter=';')

##Formula used before for CSV File :
    #Step: Replacing ',' to '.'
    #df['Length (m)'] = df['Length (m)'].str.replace('.', ',')
    #df['Height (m)'] = df['Height (m)'].str.replace('.', ',')

#General
    #print(df.head())
    #print (type(df))

In [3]:
#Importing Pandas and Numpy to threat data in Python
import pandas as pd
import numpy as np

# Step: Read Excel file and save it in dataframe
file_path = '/content/DSB_MF_08-Jigboard Size.xlsx'

df = pd.read_excel(file_path)

#Analysis of object's types
print(df.dtypes)

Harness                object
Project                object
PH PartNumber          object
Solution Eng            int64
Version Eng            object
Harness Eng Status     object
Creation Date Eng      object
Sol Indus               int64
Ver Indus              object
Length (m)            float64
Height (m)            float64
Harness Indus          object
Creation Date          object
Last Update - Date     object
dtype: object

In [4]:
# Step: To be sure of the object types, I faced some issues in next formules when not used.
df['Project'] = df['Project'].astype(str)
df['Project'] = df['Project'].replace('nan', 'NaN')
df['Length (m)'] = df['Length (m)'].astype(float)
df['Height (m)'] = df['Height (m)'].astype(float)
print(df.dtypes)

Harness                object
Project                object
PH PartNumber          object
Solution Eng            int64
Version Eng            object
Harness Eng Status     object
Creation Date Eng      object
Sol Indus               int64
Ver Indus              object
Length (m)            float64
Height (m)            float64
Harness Indus          object
Creation Date          object
Last Update - Date     object
dtype: object

In [5]:
# Step: To have a look in dataframe with more data
print(df.iloc[0:20])

            Harness  Project  PH PartNumber  Solution Eng Version Eng  \
0    H_HC+UFRcB_012      NaN            NaN             1           G
1   PH_AL+EL5cB_001  DSB_DC1  AN00003251339             1           A
2   PH_AL+EL5cB_001  DSB_DC1  AN00003350335             1           B
3   PH_AL+EL5cB_001  DSB_DC1  AN00003393601             1           C
4   PH_AL+EL5cB_001  DSB_EC1  AN00003327307             2           A
5   PH_AL+EL5cB_001  DSB_EC1  AN00003363985             2           B
6   PH_AL+EL5cB_001  DSB_EC1  AN00003387972             2           C
7   PH_AL+EL5cB_001  DSB_IC1  AN00003327339             3           A
8   PH_AL+EL5cB_001  DSB_IC1  AN00003363989             3           B
9   PH_AL+EL5cB_001  DSB_IC1  AN00003393610             3           C
10  PH_AL+EL5cB_001  DSB_EC2  AN00003327325             4           A
11  PH_AL+EL5cB_001  DSB_EC2  AN00003363987             4           B
12  PH_AL+EL5cB_001  DSB_EC2  AN00003393608             4           C
13  PH_AL+EL5cB_001  DSB_DC2  AN00003376639            10           A
14  PH_AL+EL5cB_001  DSB_DC2  AN00003393604            10           B
15  PH_AL+EL8cA_001  DSB_DC1  AN00003263650             1           A
16  PH_AL+EL8cA_001  DSB_DC1  AN00003417464             1           B
17  PH_AL+EL8cA_001  DSB_EC1  AN00003338780             2           A
18  PH_AL+EL8cA_001  DSB_EC1  AN00003354654             2           B
19  PH_AL+EL8cA_001  DSB_EC1  AN00003417472             2           C

   Harness Eng Status        Creation Date Eng  Sol Indus Ver Indus  \
0             In Work  2023-01-19 00:00:00.000          1         A
1             In Work  2023-03-01 00:00:00.000          1         A
2             In Work  2023-06-15 00:00:00.000          1         B
3             In Work  2023-12-12 00:00:00.000          1         C
4             In Work  2023-03-01 00:00:00.000          1         A
5             In Work  2023-06-15 00:00:00.000          1         B
6             In Work  2023-12-01 00:00:00.000          1         C
7             In Work  2023-03-01 00:00:00.000          1         A
8             In Work  2023-06-15 00:00:00.000          1         B
9             In Work  2023-12-12 00:00:00.000          1         C
10            In Work  2023-03-01 00:00:00.000          1         A
11            In Work  2023-06-16 00:00:00.000          1         B
12            In Work  2023-12-12 00:00:00.000          1         C
13            In Work  2023-07-19 00:00:00.000          1         A
14            In Work  2023-12-12 00:00:00.000          1         B
15            In Work  2023-04-05 00:00:00.000          1         A
16            In Work  2023-12-13 00:00:00.000          1         B
17            In Work  2023-04-05 00:00:00.000          1         A
18            In Work  2023-06-02 00:00:00.000          1         B
19            In Work  2023-12-14 00:00:00.000          1         C

    Length (m)  Height (m) Harness Indus            Creation Date  \
0          8.0         0.8       In Work  2023-01-19 17:37:43.000
1          1.5         1.2       In Work  2023-03-01 16:58:26.000
2          1.5         1.2       In Work  2023-06-15 16:00:22.000
3          1.5         1.2       In Work  2023-12-21 15:49:05.000
4          1.5         1.2       In Work  2023-03-03 16:10:33.000
5          1.5         1.2       In Work  2023-06-15 13:30:42.000
6          1.5         1.2       In Work  2023-12-08 17:04:46.000
7          1.5         1.2       In Work  2023-03-06 10:03:04.000
8          1.5         1.2       In Work  2023-06-15 14:47:00.000
9          1.5         1.2       In Work  2023-12-26 11:00:40.000
10         1.5         1.2       In Work  2023-03-06 09:59:55.000
11         1.5         1.2       In Work  2023-06-16 11:01:28.000
12         1.5         1.2       In Work  2023-12-22 16:01:39.000
13         1.5         1.2       In Work  2023-07-20 09:28:09.000
14         1.5         1.2       In Work  2023-12-12 11:49:54.000
15         1.5         0.8       In Work  2023-04-12 15:43:04.000
16         1.5         0.8       In Work  2023-12-13 16:19:25.000
17         1.5         0.8       In Work  2023-04-13 13:57:46.000
18         1.5         0.8       In Work  2023-06-02 14:25:42.000
19         1.5         0.8       In Work  2023-12-14 14:46:30.000

         Last Update - Date
0   2023-01-20 16:10:30.000
1   2023-03-28 13:20:15.000
2   2023-07-12 15:18:14.000
3   2023-12-22 15:08:45.000
4   2023-03-27 10:59:52.000
5   2023-06-28 18:19:07.000
6   2023-12-20 12:21:17.000
7   2023-03-28 13:35:41.000
8   2023-06-28 18:19:16.000
9   2023-12-26 11:19:29.000
10  2023-03-28 13:34:25.000
11  2023-06-28 18:19:11.000
12  2023-12-22 16:32:16.000
13  2023-07-21 12:30:09.000
14  2023-12-22 15:50:10.000
15  2023-05-03 12:05:49.000
16  2024-01-02 13:13:35.000
17  2023-05-03 12:22:14.000
18  2023-06-07 10:46:02.000
19  2024-01-02 16:41:37.000

In [6]:
# Delete rows where values are NaN in column 'Harness'
df = df.dropna(subset=['Harness'])

# Print the resulting dataframe
print(df.iloc[0:16])
df

            Harness  Project  PH PartNumber  Solution Eng Version Eng  \
0    H_HC+UFRcB_012      NaN            NaN             1           G
1   PH_AL+EL5cB_001  DSB_DC1  AN00003251339             1           A
2   PH_AL+EL5cB_001  DSB_DC1  AN00003350335             1           B
3   PH_AL+EL5cB_001  DSB_DC1  AN00003393601             1           C
4   PH_AL+EL5cB_001  DSB_EC1  AN00003327307             2           A
5   PH_AL+EL5cB_001  DSB_EC1  AN00003363985             2           B
6   PH_AL+EL5cB_001  DSB_EC1  AN00003387972             2           C
7   PH_AL+EL5cB_001  DSB_IC1  AN00003327339             3           A
8   PH_AL+EL5cB_001  DSB_IC1  AN00003363989             3           B
9   PH_AL+EL5cB_001  DSB_IC1  AN00003393610             3           C
10  PH_AL+EL5cB_001  DSB_EC2  AN00003327325             4           A
11  PH_AL+EL5cB_001  DSB_EC2  AN00003363987             4           B
12  PH_AL+EL5cB_001  DSB_EC2  AN00003393608             4           C
13  PH_AL+EL5cB_001  DSB_DC2  AN00003376639            10           A
14  PH_AL+EL5cB_001  DSB_DC2  AN00003393604            10           B
15  PH_AL+EL8cA_001  DSB_DC1  AN00003263650             1           A

   Harness Eng Status        Creation Date Eng  Sol Indus Ver Indus  \
0             In Work  2023-01-19 00:00:00.000          1         A
1             In Work  2023-03-01 00:00:00.000          1         A
2             In Work  2023-06-15 00:00:00.000          1         B
3             In Work  2023-12-12 00:00:00.000          1         C
4             In Work  2023-03-01 00:00:00.000          1         A
5             In Work  2023-06-15 00:00:00.000          1         B
6             In Work  2023-12-01 00:00:00.000          1         C
7             In Work  2023-03-01 00:00:00.000          1         A
8             In Work  2023-06-15 00:00:00.000          1         B
9             In Work  2023-12-12 00:00:00.000          1         C
10            In Work  2023-03-01 00:00:00.000          1         A
11            In Work  2023-06-16 00:00:00.000          1         B
12            In Work  2023-12-12 00:00:00.000          1         C
13            In Work  2023-07-19 00:00:00.000          1         A
14            In Work  2023-12-12 00:00:00.000          1         B
15            In Work  2023-04-05 00:00:00.000          1         A

    Length (m)  Height (m) Harness Indus            Creation Date  \
0          8.0         0.8       In Work  2023-01-19 17:37:43.000
1          1.5         1.2       In Work  2023-03-01 16:58:26.000
2          1.5         1.2       In Work  2023-06-15 16:00:22.000
3          1.5         1.2       In Work  2023-12-21 15:49:05.000
4          1.5         1.2       In Work  2023-03-03 16:10:33.000
5          1.5         1.2       In Work  2023-06-15 13:30:42.000
6          1.5         1.2       In Work  2023-12-08 17:04:46.000
7          1.5         1.2       In Work  2023-03-06 10:03:04.000
8          1.5         1.2       In Work  2023-06-15 14:47:00.000
9          1.5         1.2       In Work  2023-12-26 11:00:40.000
10         1.5         1.2       In Work  2023-03-06 09:59:55.000
11         1.5         1.2       In Work  2023-06-16 11:01:28.000
12         1.5         1.2       In Work  2023-12-22 16:01:39.000
13         1.5         1.2       In Work  2023-07-20 09:28:09.000
14         1.5         1.2       In Work  2023-12-12 11:49:54.000
15         1.5         0.8       In Work  2023-04-12 15:43:04.000

         Last Update - Date
0   2023-01-20 16:10:30.000
1   2023-03-28 13:20:15.000
2   2023-07-12 15:18:14.000
3   2023-12-22 15:08:45.000
4   2023-03-27 10:59:52.000
5   2023-06-28 18:19:07.000
6   2023-12-20 12:21:17.000
7   2023-03-28 13:35:41.000
8   2023-06-28 18:19:16.000
9   2023-12-26 11:19:29.000
10  2023-03-28 13:34:25.000
11  2023-06-28 18:19:11.000
12  2023-12-22 16:32:16.000
13  2023-07-21 12:30:09.000
14  2023-12-22 15:50:10.000
15  2023-05-03 12:05:49.000

,Harness,Project,PH PartNumber,Solution Eng,Version Eng,Harness Eng Status,Creation Date Eng,Sol Indus,Ver Indus,Length (m),Height (m),Harness Indus,Creation Date,Last Update - Date
0,H_HC+UFRcB_012,NaN,NaN,1,G,In Work,2023-01-19 00:00:00.000,1,A,8.0,0.8,In Work,2023-01-19 17:37:43.000,2023-01-20 16:10:30.000
1,PH_AL+EL5cB_001,DSB_DC1,AN00003251339,1,A,In Work,2023-03-01 00:00:00.000,1,A,1.5,1.2,In Work,2023-03-01 16:58:26.000,2023-03-28 13:20:15.000
2,PH_AL+EL5cB_001,DSB_DC1,AN00003350335,1,B,In Work,2023-06-15 00:00:00.000,1,B,1.5,1.2,In Work,2023-06-15 16:00:22.000,2023-07-12 15:18:14.000
3,PH_AL+EL5cB_001,DSB_DC1,AN00003393601,1,C,In Work,2023-12-12 00:00:00.000,1,C,1.5,1.2,In Work,2023-12-21 15:49:05.000,2023-12-22 15:08:45.000
4,PH_AL+EL5cB_001,DSB_EC1,AN00003327307,2,A,In Work,2023-03-01 00:00:00.000,1,A,1.5,1.2,In Work,2023-03-03 16:10:33.000,2023-03-27 10:59:52.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,PH_ICALL+EL6cA_001,"DSB_EC1,DSB_EC2,DSB_IC1",AN00003294100,1,A,In Work,2023-03-16 00:00:00.000,1,A,1.5,1.2,In Work,2023-03-21 09:28:48.000,2023-03-21 14:59:50.000
602,PH_ICALL+EL6cA_001,"DSB_EC1,DSB_EC2,DSB_IC1",AN00003294100,1,B,In Work,2023-03-23 00:00:00.000,1,B,1.5,1.2,In Work,2023-03-23 17:24:49.000,2023-03-29 15:20:08.000
603,PH_ICALL+EL6cA_001,"DSB_EC1,DSB_EC2,DSB_IC1",AN00003391340,1,D,In Work,2023-12-01 00:00:00.000,1,C,1.5,1.2,In Work,2023-12-01 16:44:47.000,2023-12-11 16:16:33.000
604,PH_ICALL+EL6cB_001,"DSB_EC1,DSB_EC2,DSB_IC1",AN00003294133,1,A,In Work,2023-03-17 00:00:00.000,1,A,1.0,0.4,In Work,2023-03-21 15:43:37.000,2023-04-28 12:28:35.000
605,PH_VAR+ROFcC_324,DSB_IC1,GL00001462384,1,A,In Work,2023-07-28 00:00:00.000,1,A,1.5,0.4,In Work,2023-07-31 16:24:34.000,2023-08-08 15:53:35.000

In [7]:
# Select and reorder columns
columns = ['Project', 'Harness','Solution Eng','Version Eng','Sol Indus','Ver Indus','Length (m)', 'Height (m)']
df = df.loc[:, columns]
# Print the resulting DataFrame
print(df.head())

   Project          Harness  Solution Eng Version Eng  Sol Indus Ver Indus  \
0      NaN   H_HC+UFRcB_012             1           G          1         A
1  DSB_DC1  PH_AL+EL5cB_001             1           A          1         A
2  DSB_DC1  PH_AL+EL5cB_001             1           B          1         B
3  DSB_DC1  PH_AL+EL5cB_001             1           C          1         C
4  DSB_EC1  PH_AL+EL5cB_001             2           A          1         A

   Length (m)  Height (m)
0         8.0         0.8
1         1.5         1.2
2         1.5         1.2
3         1.5         1.2
4         1.5         1.2

In [8]:
# Split naming from column Project to have new two columns "Project Name and Car Name"
df[['Project Name', 'Car Name']] = df['Project'].str.split('_', n=1, expand=True)
df

,Project,Harness,Solution Eng,Version Eng,Sol Indus,Ver Indus,Length (m),Height (m),Project Name,Car Name
0,NaN,H_HC+UFRcB_012,1,G,1,A,8.0,0.8,NaN,None
1,DSB_DC1,PH_AL+EL5cB_001,1,A,1,A,1.5,1.2,DSB,DC1
2,DSB_DC1,PH_AL+EL5cB_001,1,B,1,B,1.5,1.2,DSB,DC1
3,DSB_DC1,PH_AL+EL5cB_001,1,C,1,C,1.5,1.2,DSB,DC1
4,DSB_EC1,PH_AL+EL5cB_001,2,A,1,A,1.5,1.2,DSB,EC1
...,...,...,...,...,...,...,...,...,...,...
601,"DSB_EC1,DSB_EC2,DSB_IC1",PH_ICALL+EL6cA_001,1,A,1,A,1.5,1.2,DSB,"EC1,DSB_EC2,DSB_IC1"
602,"DSB_EC1,DSB_EC2,DSB_IC1",PH_ICALL+EL6cA_001,1,B,1,B,1.5,1.2,DSB,"EC1,DSB_EC2,DSB_IC1"
603,"DSB_EC1,DSB_EC2,DSB_IC1",PH_ICALL+EL6cA_001,1,D,1,C,1.5,1.2,DSB,"EC1,DSB_EC2,DSB_IC1"
604,"DSB_EC1,DSB_EC2,DSB_IC1",PH_ICALL+EL6cB_001,1,A,1,A,1.0,0.4,DSB,"EC1,DSB_EC2,DSB_IC1"
605,DSB_IC1,PH_VAR+ROFcC_324,1,A,1,A,1.5,0.4,DSB,IC1

In [9]:
# Define a dictionary to store the CAR LENGTH values
car_lengths = {
    ('LNVG', 'A01'): 28.3,
    ('LNVG', 'B01'): 24.1,
    ('LNVG', 'A02'): 28.3,
    ('LNVG', 'B02'): 24.1,
    ('DSB', 'DC1'): 28.3,
    ('DSB', 'EC1'): 24.1,
    ('DSB', 'EC2'): 24.1,
    ('DSB', 'IC1'): 28.3,
    ('DSB', 'DC2'): 26.8
}
# Loop through the dictionary and set the values in the DataFrame
for key, value in car_lengths.items():
    condition = (df['Project Name'] == key[0]) & (df['Car Name'] == key[1])
    df.loc[condition, 'CAR LENGTH'] = value
# Fill NaN in CAR LENGTH column with 0
df['CAR LENGTH'] = df['CAR LENGTH'].fillna(0)

In [10]:
print(df.iloc[0:16])

    Project          Harness  Solution Eng Version Eng  Sol Indus Ver Indus  \
0       NaN   H_HC+UFRcB_012             1           G          1         A
1   DSB_DC1  PH_AL+EL5cB_001             1           A          1         A
2   DSB_DC1  PH_AL+EL5cB_001             1           B          1         B
3   DSB_DC1  PH_AL+EL5cB_001             1           C          1         C
4   DSB_EC1  PH_AL+EL5cB_001             2           A          1         A
5   DSB_EC1  PH_AL+EL5cB_001             2           B          1         B
6   DSB_EC1  PH_AL+EL5cB_001             2           C          1         C
7   DSB_IC1  PH_AL+EL5cB_001             3           A          1         A
8   DSB_IC1  PH_AL+EL5cB_001             3           B          1         B
9   DSB_IC1  PH_AL+EL5cB_001             3           C          1         C
10  DSB_EC2  PH_AL+EL5cB_001             4           A          1         A
11  DSB_EC2  PH_AL+EL5cB_001             4           B          1         B
12  DSB_EC2  PH_AL+EL5cB_001             4           C          1         C
13  DSB_DC2  PH_AL+EL5cB_001            10           A          1         A
14  DSB_DC2  PH_AL+EL5cB_001            10           B          1         B
15  DSB_DC1  PH_AL+EL8cA_001             1           A          1         A

    Length (m)  Height (m) Project Name Car Name  CAR LENGTH
0          8.0         0.8          NaN     None         0.0
1          1.5         1.2          DSB      DC1        28.3
2          1.5         1.2          DSB      DC1        28.3
3          1.5         1.2          DSB      DC1        28.3
4          1.5         1.2          DSB      EC1        24.1
5          1.5         1.2          DSB      EC1        24.1
6          1.5         1.2          DSB      EC1        24.1
7          1.5         1.2          DSB      IC1        28.3
8          1.5         1.2          DSB      IC1        28.3
9          1.5         1.2          DSB      IC1        28.3
10         1.5         1.2          DSB      EC2        24.1
11         1.5         1.2          DSB      EC2        24.1
12         1.5         1.2          DSB      EC2        24.1
13         1.5         1.2          DSB      DC2        26.8
14         1.5         1.2          DSB      DC2        26.8
15         1.5         0.8          DSB      DC1        28.3

In [11]:
# Save file in Excel
df.to_excel('/content/Result.xlsx', index=False)

print('File done!')

File done!